<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Novo Recado</title>
</head>
<body>

<h1>Criar Recado</h1>

<form method="POST">
    <input type="text" name="titulo" placeholder="Título" required>
    <input type="text" name="autor" placeholder="Autor" required>
    <textarea name="mensagem" placeholder="Mensagem" required></textarea>
    <button type="submit">Salvar</button>
</form>

<a href="/">Voltar</a>

</body>
</html>
